<h1>Sensors#main</h1>
<p>Find me in app/views/sensors/main.html.erb</p>

<%= form_with url: "/", method: :post do |f| %>
    <%= f.label :specified_date, "Top sensors by date:" %>
    <%= f.date_field :specified_date %>
    <%= f.submit "Search" %>
<% end %>
